<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Liste topos</title>
</head>
<body>

      <div class="container spacer">
      <form th:action="@{formR}"methode="get">
        <div class="form-groupe">
            <label>Pays : </label>
            <input type="text" name="localisation"/>
            <button type="submit" class="btn btn-primary"> Chercher </button>

        </div>
      </form>
  </div>

</body>
</html>