<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Formulaire d'Inscription</title>
</head>
<body>

    <div class="container">
        
        <form th:action="@{save}" method="POST">
            <div class="form-group">
                <label class="control-label"> Nom: </label>
                <input class="form-control" type="text" name="userName" th:value="${appuser.userName}"/>
            </div>

            <div class="form-group">
                <label class="control-label"> Mot de passe: </label>
                <input class="form-control" type="text" name="encrytedPassword" th:value="${appuser.encrytedPassword}"/>
            </div>

            <button type="submit" class="btn btn-primary"> Save </button>
        </form>
    </div>
</body>
</html>