<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<title>Commentaire</title>
</head>
<body>

      <header>
         <div class="conteneur">
             <h1> Laissez votre commentaire<samp class="point-orange"> . </samp> </h1>
             <nav>
                 <ul>
                   <!-- <li><a th:href="@{Topos/Recherche}"> Reserver un site</a></li> -->
                     <li><a th:href="@{Topos/ListeTopos}"> Les topos</a></li>
                     <li><a th:href="@{Topos/Connexion}"> Connexion</a></li>
                     <li><a th:href="@{/inscription}"> Inscription</a></li>
                 </ul>
             </nav>
         </div>
     </header>

    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
        <form th:action="@{/greeting}" th:object="${greeting}" method="post">
            <div class="form-group">
                <label>Nom:</label>
                <input class="form-control" type="text" name="Nom" th:field="*{nomutilisateur}" placeholder="Votre Nom"/>
               <!-- <span class="text-danger" th:errors="${commentaire.nomutilisateur}"></span>-->
            </div>

            <div class="form-group">
                <label>Texte:</label>
                <input class="form-control" type="text" name="Texte" th:field="*{texte}" placeholder="Votre Texte"/>
              <!--  <span class="text-danger" th:errors="${commentaire.texte}">></span> -->
            </div>

            <button class="btn btn-primary">Soumettre</button>
            <a th:href="@{ListeCommentaire}"class="boutton2"> Consulter les commentaire </a> 
        </form>
    </div>
    </div>

     <footer>
         <div class="conteneur">
             <h1> Notre communauté <samp class="point-orange">.</samp></h1>
             <div class="copyright"> copyright 2019. Tout droits réservés.</div>
         
         </div>
     </footer>
</body>
</html>