<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet">
 <title> Viens on grimpe </title>
 </head>

   <body>
     <header>
         <div class="conteneur">
             <h1> Viens on grimpe<samp class="point-orange"> . </samp> </h1>
             <nav>
                 <ul>
                    <li> <a th:href="@{/admin}">Connexion</a> </li>      
                     <li><a th:href="@{Topos/ListeTopos}"> Les topos</a></li>
                     <li><a th:href="@{/form}"> Inscription</a></li>
                     <li><a th:href="@{/greeting}">Commentaire</a></li>
                     <li> <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Deconnection</a> </li>
                 </ul>
             </nav>
         </div>
     </header> 
     
     <p> L’escalade peut se pratiquer de différentes manières. On distingue : </p>
     
     <section id="possibilités">
         <div class="conteneur">
             <article style="background-image: url('image/article-image-1.jpg')">
                 <div class="pos1">
                     <h4> L'escade de falaise </h4>
                     <p><small>
                         Où il faut monter en haut d'un mur/falaise
                         Un tracé d'escalade s'appelle une voie.
                         On peut enchainer plusieurs voies de suite dans les hautes falaises.<br>
                         Pour certaines grandes voies difficiles,
                         on peut meme dormir suspendu à la paroi ! <br>

                         </small>
                     </p>
                     <a th:href="@{/find}"class="boutton2"> Touver votre site </a> 
                     
                 </div>
             </article>
             
             <article style="background-image: url('image/article-image-2.jpg')">
                 <div class="pos1">
                     <h4> L'escalade de bloc </h4>
                     <p><small>
                         On monte beaucoup moins haut, mais le passage est 
                         beaucoup plus difficile, il n'ya pas de système d'assurage.
                         <br> <br> <br> <br> <br>
                        
                         </small>
                     </p>
                    <a th:href="@{/find}"class="boutton2"> Touver votre site </a> 
                 </div>          
             </article>

             <div class="clear">
                 </div>

         </div>
     </section>
     
     <section id="contact">
         <div class="conteneur">
             <br>
             <br>
             <p> On peut pratiquer les 2 types d’escalade en intérieur, 
                 dans des salles spécialisées ou en extérieur sur de vrais cailloux.

                La difficulté des voies se reconnait à sa cotation. 
                Il y a trois sous-niveaux a,b,c pour chaque niveau 3, 4, 5, 6, 7, 8, 9 . 
                Le maximum déjà côté est le 9b : 
                c’est pour les descendants de Spiderman là… Pour les familles, 
                on débutera bien entendu dans le 3 ou le 4.</p>
             
         </div>
     </section>

     <footer>
         <div class="conteneur">
             <h1> Notre communauté <samp class="point-orange">.</samp></h1>
             <div class="copyright"> copyright 2019. Tout droits réservés.</div>
         
         </div>
     </footer>
   </body>
</html>