<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet">
 <title> Viens on grimpe </title>
 </head>

   <body>
     <header>
         <div class="conteneur">
             <h1> Viens on grimpe<samp class="point-orange"> . </samp> </h1>
             <nav>
                 <ul>
                    <li> <a th:href="@{/admin}">Connexion</a> </li>      
                     <li><a th:href="@{Topos/ListeTopos}"> Les topos</a></li>
                     <li><a th:href="@{/form}"> Inscription</a></li>
                     <li><a th:href="@{/greeting}">Commentaire</a></li>
                     <li> <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Deconnection</a> </li>
                 </ul>
             </nav>
         </div>
     </header> 
     
     <p> A partir de quel âge peut-on faire de l’escalade ? </p>
     
     <section id="possibilités">
         <div class="conteneur">
             <article style="background-image: url('image/article-image-1.jpg')">
                 <div class="pos1">
                     <h4> En club </h4>
                     <p><small>
                         les enfants peuvent traditionnellement commencer à 6 ans 
                         l’escalade classique Certains clubs proposent 
                         la baby escalade dès 3-4 ans !
                          L’escalade est une bonne activité pour faire gagner 
                          de la confiance aux enfants.  
                          Après avoir réussi, ils sont fiers d’eux et cela leur fait gagner en confiance
                         </small>
                     </p>
                              
                 </div>
             </article>
             
             <article style="background-image: url('image/article-image-2.jpg')">
                 <div class="pos1">
                     <h4> Des endroits pour de l’escalade en famille ? </h4>
                     <p><small>
                         Dans beaucoup de destinations typées montagne ou avec de belles falaises, 
                         vous trouverez beaucoup de guides pour essayer l’escalade en famille. 
                         <br> <br> <br>
                        
                         </small>
                     </p>
                 </div>          
             </article>

             <div class="clear">
                 </div>

         </div>
     </section>
     
     <section id="contact">
         <div class="conteneur">
             <br>
             <br>
             <p> On peut pratiquer les 2 types d’escalade en intérieur, 
                 dans des salles spécialisées ou en extérieur sur de vrais cailloux.

                La difficulté des voies se reconnait à sa cotation. 
                Il y a trois sous-niveaux a,b,c pour chaque niveau 3, 4, 5, 6, 7, 8, 9 . 
                Le maximum déjà côté est le 9b : 
                c’est pour les descendants de Spiderman là… Pour les familles, 
                on débutera bien entendu dans le 3 ou le 4.</p>
             
         </div>
     </section>

     <footer>
         <div class="conteneur">
             <h1> Notre communauté <samp class="point-orange">.</samp></h1>
             <div class="copyright"> copyright 2019. Tout droits réservés.</div>
         
         </div>
     </footer>
   </body>
</html>