<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Liste des Topos</title>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
     <header>
         <div class="conteneur">
             <nav>
                 <ul>
                    <li> <a th:href="@{/}">Acceuil</a> </li> 
                    <li> <a th:href="@{/admin}">Connexion</a> </li>      
                     <li><a th:href="@{Topos/ListeTopos}"> Les topos</a></li>
                     <li><a th:href="@{/form}"> Inscription</a></li>
                     <li> <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Deconnection</a> </li>
                 </ul>
             </nav>
         </div>
     </header>

   <!-- <a th:href="@{/}"> Retour</a> -->

    <div class="container spacer">
        <form th:action="@{ListeCommentaire}" methode="get">

            <!-- <div class="container spacer">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom utilisateur</th> <th>texte</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="t:${listecom}">
			<td th:text="${t.nomutilisateur}"></td>
			<td th:text="${t.texte}"></td>
			
			</tr>
		</tbody>
    </table>
    </div>
  </div>    -->

            <section id="commentaire">
                <p>Commentaires :</p>
                <tr th:each="t:${listecom}">
                    <div class="container">
                        <div class="red-divider"></div>
                        <div class="heading">
                        </div>
                        <div class="col-sm-6">
                            <div class="commentaire-block">

                                <span class="glyphicon glyphicon-commentaire"></span>

                                <td th:text="${t.nomutilisateur}"></td>
                                <br>
                                <td th:text="${t.texte}"></td>

                            </div>
                        </div>
                    </div>
                </tr>
            </section>
        </form>
    </div>

    <footer>
         <div class="conteneur">
             <h1> Notre communauté <samp class="point-orange">.</samp></h1>
             <div class="copyright"> copyright 2019. Tout droits réservés.</div>
         
         </div>
     </footer>

</body>

</html>