<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Liste des Topos</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

  <div class="container spacer">
      <form th:action="@{ListeTopos}"methode="get">
        <div class="form-groupe">
            <label>Pays : </label>
            <input type="text" name="Le Pays"/>
            <button type="submit"> Chercher </button>
        </div>
      </form>
  </div>

  <div class="container spacer">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th> <th>Nom site</th> <th>Secteur</th> <th>Voies</th> <th>Hauteur</th> <th>Cotation</th> <th>Points</th> <th>Localisation</th> <th>Disponibilité</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="t:${listetopos}">
			<td th:text="${t.id}"></td>
			<td th:text="${t.nomsite}"></td>
			<td th:text="${t.secteur}"></td>
			<td th:text="${t.nombredevoie}"></td>
			<td th:text="${t.hauteur}"></td>
			<td th:text="${t.cotation}"></td>
			<td th:text="${t.nombredepoint}"></td>
			<td th:text="${t.localisation}"></td>
			<td th:text="${t.disponibilite}"></td>
		</tbody>
	</table>
  </div>
	
</body>
</html>