<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<title>Validation de la reservation</title>
</head>

<body>
     <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
        <form th:action="@{reservation}" method="POST">
            <div class="form-group">
                <label>Nom:</label>
                <input class="form-control" type="text" name="nomutilisateur" th:value="${reservation.nomutilisateur}" placeholder="Votre Nom"/>
                <span></span>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" type="text" name="email" th:value="${reservation.email}" placeholder="Votre Email"/>
                <span></span>
            </div>

            <div class="form-group">
                <label>Nom site:</label>
                <input class="form-control" type="text" name="nomsite" th:value="${reservation.nomsite}" placeholder="Le  site"/>
                <span></span>
            </div>

            <button class="btn btn-primary">Reserver</button>
        </form>
    </div>
    </div>
</body>
</html>