<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<title>Reservation</title>
</head>
<body>

      <header>
         <div class="conteneur">
             <nav>
                 <ul>
                   <li><a th:href="@{/}"> Acceuil</a></li>
                     <li><a th:href="@{Topos/ListeTopos}"> Les topos</a></li>
                      <li><a th:href="@{/formReservation}">Reserver</a></li>
                    <li><a th:href="@{/formc}">Commentaire</a></li>
                 </ul>
             </nav>
         </div>
     </header>


	<p>Vous avez mis fin à cette reservation :</p>
    <p th:text="'Nom: ' + ${reservation.nomutilisateur}" />
    <p th:text="'Site: ' + ${reservation.nomsite}" />

</body>
</html>