<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<title>Formulaire d'Inscription</title>
</head>

<body>
	<p>Succès !!! <br> Vos identifiants de connection sont :</p>
    <p th:text="'email: ' + ${utilisateur.email}" />
    <p th:text="'nom: ' + ${utilisateur.nom}" />
    <p th:text="'prenom: ' + ${utilisateur.prenom}" />
    <p th:text="'motdepasse: ' + ${utilisateur.motdepasse}" />
</body>
</html>