<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<title>Topos Ajouté</title>
</head>
<body>

      <header>
         <div class="conteneur">
             <nav>
                 <ul>
                   <li><a th:href="@{/}"> Acceuil</a></li>
                     <li><a th:href="@{Topos/ListeTopos}"> Les topos</a></li>
                     <li><a th:href="@{/formReservation}">Reserver</a></li>
                 </ul>
             </nav>
         </div>
     </header>


	<p>Succès !!! Votre topo a été ajouté</p>
    <p th:text="'Nom: ' + ${topos.nomsite}" />
    <p th:text="'Secteur: ' + ${topos.secteur}" />
    <p th:text="'Nombre de voies: ' + ${topos.nombredevoie}" />
    <p th:text="'Hauteur: ' + ${topos.hauteur}" />
    <p th:text="'Cotation: ' + ${topos.cotation}" />
    <p th:text="'Nombre de points: ' + ${topos.nombredepoint}" />
    <p th:text="'Localisation: ' + ${topos.localisation}" />

</body>
</html>